.navbar-style{
    background-color: rgb(196, 166, 127);
}
.logo-img-style{
    height: 50px;
    width: 50px;
}
.logo-txt-style{
    margin: -21px 0px 0px 50px;
}
*{
    font-family: 'Times New Roman', Times, serif;
}
